#container {
    background-color: lightblue;
}

#body_container {
    display: block;
    padding: 10px 350px 10px 350px;
}

#top_body {
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(50, 80, 230);
    padding-bottom: 20px;
}

#title {
    padding-top: 5px;
    color: white;
    font-size: 80px;
}

#question {
    padding: 20px 0px 20px 0px;
    color: white;
    font-size: 20px;
}

#enterTask {
    text-align: left;
    padding: 10px 0px 10px 10px;
    background-color: rgb(50, 80, 230);
    border: hidden;
    border-color: rgb(50, 80, 230);
    width: 250px;
}

#white_line {
    margin: 10px;
    border: hidden;
    background-color: white;
    height: 2px;
    width: 260px;
}

#submit,
#submitEditButton {
    padding: 13px 65px 13px 65px;
    background-color: orange;
    border-radius: 5px;
}

#bottom_body {
    padding: 10px 10px 10px 0px;
    background-color: white;
    padding-bottom: 300px;
}

#listWorkSpace {
    width: 500px;
    display: flex;
}

#edit {
    margin-left: 250px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(50, 80, 230);
    border-radius: 20px;
    border: hidden;
    color: white;
}

#delete {
    margin-left: 20px;
    padding: 10px 30px 10px 30px;
    background-color: red;
    border-radius: 20px;
    border: hidden;
    color: white;
}

#content {
    height: 20px;
    width: 500px;
    font-size: 20px;
    text-align: left;
}

#showEditComponent {
    background-color: white;
    height: 200px;
    width: 400px;
}

#editTodos {
    background-color: greenyellow;
    padding: 10px 0px 10px 10px;
    border: hidden;
}